* {
  padding: 0;
  margin: 0;
}
body {
  background: url('./assets/background.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('./assets/icon-scc.png');
}

.header__logo-text {
  font-size: 20px;
  color: rgba(255,255,255,.7);
}

.wrapper {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.main__select-text {
  font-size: 45px;
  color: rgba(255,255,255,.7);
}

.help__btn-open {
  width: 120px;
  height: 40px;
  background: rgba(0,0,0,.2);
  color: rgba(255,255,255,.7);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,.7);
  cursor: pointer;
  margin: 20px 0 0 0 ;
}

.help {
  padding: 20px;
  width: 600px;
  color: #777;
  background: rgba(255,255,255,.9);
  text-align: left;
  margin: 20px auto 20px auto;
  box-shadow: 0px 0px 15px rgba(0,0,0,.7);
  display: none;
  /* display: block; */
}

.help__title {
  color: #444;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.help__description {
  color: #444;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.help__subtitle {
  color: #444;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}

.help__example {
  background: #DDD;
  padding: 10px;
  margin: 0;
  font-size: 14px;
}

.help__btn-close {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0 0 ;
  color: #1b6f9b;
  background: rgba(27,111,155,.1);
  font-weight: 900;
}

.game {
  width: 100%;
  /* height: 180px; */
  display: flex;
  justify-content: center;
  margin: 30px 0 ;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  position: relative;
  border: solid 2px rgba(255,255,255,.8);
  padding: 10px;
  background: rgba(255,255,255,.3);
  height: 170px;
}

.item-1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 2px rgba(255,255,255,.8);
  background: rgba(255,255,255,.5);
}

.pane {
  position: relative;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.editor {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: solid 2px rgba(255,255,255,.8);
}

.editor__header {
  border-right: solid 2px rgba(255,255,255,.8);
}

.pane__header {
  text-align: left;
  padding: 10px 15px;
  border-radius: 2px 2px 0 0;
  color: rgba(255,255,255,.8);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgba(255,255,255,.8);
}

.editor__header-text, .viewer__header-text {
  font-size: 16px;
  color: rgba(255,255,255,.6);
}

.editor__main {
  background: #efefef;
  color: #AAA;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 46px;
  border: solid 2px rgba(255,255,255,.7);
}

.editor__line-number {
  color: rgb(109, 109, 109);
  background: #DDD;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 22px 0;
  line-height: 150%;
  text-align: right;
}

.editor__input {
  background: rgba(62,203,255,.3);
  border: none;
  width: 200px;
  height: 20px;
}

.editor__btn-enter {
  background: #ddd;
  display: block;
  border-radius: 2px;
  padding: 3px 8px 3px 8px;
  color: #666;
  border: solid 3px #999;
  position: absolute;
  top: 9px;
  right: 13px;
  font-size: 9px;
  position: absolute;
  cursor: pointer;
  right: 7px;
  z-index: 4;
}

.editor__description, .editor__text {
  font-size: 14px;
  line-height: 150%;
}

.editor__text {
  margin-top: 22px;
}

.viewer {
  width: 50%;
  border-right: solid 1px rgba(255,255,255,.03);
  border-bottom: solid 1px rgba(255,255,255,.03);
  border: solid 2px rgba(255,255,255,.8);

}

.viewer__main {
  background: rgba(0,0,0,.3);
  color: #AAA;
  position: relative;
  /* min-height: 432px; */
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 46px;

}

.viewer__line-number {
  color: rgba(255,255,255,.8);
  /* background: rgba(0,0,0,.3); */
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 22px 10px;
  line-height: 150%;
  text-align: right;
  border-right: solid 1px rgba(255,255,255,.8);
}

.aside {
  width: 20%;
  display: flex;
  align-items: flex-end;
}

.aside__container {
  /* width: 60%;
  height: 90%; */
  border: solid 2px rgba(255,255,255,.8);
  color: rgba(255,255,255,.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.level {
  opacity: .7;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

.level:hover {
  background: rgb(255, 255, 255, .2);
  opacity: 1;

}

.level.active{
  opacity: 1;
  color: white;
}

.level::before{
  content: '✔';
  margin-right: 20px;
  font-weight: 900;
  /* color: green; */
}

.mark {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url('./assets/mark.png');
  opacity: .7;
  margin-left: 30px;
}

.mark:hover {
  opacity: 1;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  color: rgba(255,255,255);
  font-size: 30px;
}

.footer__logo {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  opacity: .7;
}

.footer__logo:hover {
  opacity: 1;
}

.footer__logo-github {
  background-image: url('./assets/github.png');
}

.footer__logo-rss {
  background-image: url('./assets/rsschool.svg');

}

.footer__logo-rss-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 60px;
  background: rgb(255, 255, 255, .4);
  background-position: center center;
  border-radius: 30px;
}
