* {
  padding: 0;
  margin: 0;
}
body {
  background: url('./assets/background.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('./assets/icon-scc.png');
}

.header__logo-text {
  font-size: 20px;
  color: rgba(255,255,255,.7);
}

.wrapper {
  display: flex;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.main__select-text {
  font-size: 45px;
  color: rgba(255,255,255,.7);
  height: 52px;
}

.help__btn-open {
  width: 120px;
  height: 40px;
  background: rgba(0,0,0,.2);
  color: rgba(255,255,255,.7);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,.7);
  cursor: pointer;
  margin: 20px 0 0 0 ;
}

.help__btn-open:hover {
  background: rgba(255,255,255,.7);
  color: rgb(2, 2, 2);
  font-weight: 600;
}

.win {
  position: absolute;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background: url('./assets/win.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  display: none;
}
.visible {
  display: block;
}

.win__btn-close {
  position: absolute;
  z-index: 10;
  top:70%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 20px 0 0 0 ;
  color: #1b6f9b;
  background: rgba(27,111,155,.1);
  background: white;
  font-weight: 900;
}

.game {
  width: 100%;
  /* height: 180px; */
  display: flex;
  justify-content: center;
  margin: 30px 0 ;
}

.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  /* width: 50%; */
  position: relative;
  border: solid 2px rgba(255,255,255,.8);
  padding: 10px 30px;
  background: rgba(255,255,255,.3);
  height: 170px;
}

.pane {
  position: relative;
  text-align: left;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  height: 372px;
}

.editor {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border: solid 2px rgba(255,255,255,.8);
}

.editor__header {
  border-right: solid 2px rgba(255,255,255,.8);
}

.pane__header {
  text-align: left;
  padding: 10px 15px;
  border-radius: 2px 2px 0 0;
  color: rgba(255,255,255,.8);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 2px rgba(255,255,255,.8);
}

.editor__header-text, .viewer__header-text {
  font-size: 16px;
  color: rgba(255,255,255,.6);
}

.editor__main {
  background: #efefef;
  color: #AAA;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 46px;
  border: solid 2px rgba(255,255,255,.7);
  height: 316px;
}

.editor__line-number {
  color: rgb(109, 109, 109);
  background: #DDD;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 22px 0;
  line-height: 150%;
  text-align: right;
  height: 100%;
}

.editor__input {
  background: #efefef;
  border: none;
  width: 250px;
  height: 200px;
  outline: none;
	border: none;
  font-size: 27px;
}

.editor__btn-enter {
  background: #ddd;
  display: block;
  border-radius: 2px;
  padding: 3px 8px 3px 8px;
  color: #666;
  border: solid 3px #999;
  position: absolute;
  top: 9px;
  right: 13px;
  font-size: 15px;
  position: absolute;
  cursor: pointer;
  right: 7px;
  z-index: 4;
}

.editor__btn-enter:hover {
  background: rgba(255,255,255,.7);
  color: rgb(2, 2, 2);
  font-weight: 600;
}

.viewer {
  width: 50%;
  border-right: solid 1px rgba(255,255,255,.03);
  border-bottom: solid 1px rgba(255,255,255,.03);
  border: solid 2px rgba(255,255,255,.8);

}

.viewer__main {
  background: rgba(0,0,0,.3);
  color: #AAA;
  position: relative;
  /* min-height: 432px; */
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 46px;

}

.viewer__line-number {
  color: rgba(255,255,255,.8);
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px 22px 10px;
  line-height: 150%;
  text-align: right;
  border-right: solid 1px rgba(255,255,255,.8);
}

.viewer__description {
  font-size: 27px;
}

.aside {
  width: 20%;
  display: flex;
  align-items: flex-end;
}

.aside__container {
  border: solid 2px rgba(255,255,255,.8);
  color: rgba(255,255,255,.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.level {
  opacity: .7;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

.level:hover {
  background: rgb(255, 255, 255, .2);
  opacity: 1;

}

.level.active{
  opacity: 1;
  color: white;
  background: rgb(255, 255, 255, .2);;
}

.level.passed{
  opacity: 1;
  color: green;
}

.level.help{
  opacity: 1;
  color: yellow;
}


.level::before{
  content: '✔';
  margin-right: 20px;
  font-weight: 900;
  /* opacity: 0; */
}

.mark {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url('./assets/mark.png');
  opacity: .7;
  margin-left: 30px;
}

.mark:hover {
  opacity: 1;
}

.btn-reset {
  width: 120px;
  height: 40px;
  background: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,.6);
  cursor: pointer;
  margin: 20px 0 0 0 ;
  font-size: 20px;
  font-weight: 300;
}

.btn-reset:hover {
  background: rgba(0,0,0,.2);
  color: rgba(255,255,255);
  border: 1px solid rgba(255,255,255);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
  color: rgba(255,255,255);
  font-size: 30px;
  height: 10vh;
}

.footer__logo {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  opacity: .7;
}

.footer__logo:hover {
  opacity: 1;
}

.footer__logo-github {
  background-image: url('./assets/github.png');
}

.footer__logo-rss {
  background-image: url('./assets/rsschool.svg');

}

.footer__logo-rss-link {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 60px;
  background: rgb(255, 255, 255, .4);
  background-position: center center;
  border-radius: 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
}
.batmen {
  background-image: url('./assets/box/batmen.png');
}

.capitan {
  background-image: url('./assets/box/capitan.png');
}

.deadpool {
  background-image: url('./assets/box/deadpool.png');
}

.flesh {
  background-image: url('./assets/box/flesh.png');
}

.groot {
  background-image: url('./assets/box/groot.png');
}

.hulk {
  background-image: url('./assets/box/hulk.png');
}

.iron {
  background-image: url('./assets/box/iron.png');
}

.joker {
  background-image: url('./assets/box/joker.png');
}

.spider {
  background-image: url('./assets/box/spider.png');
}

.tor {
  background-image: url('./assets/box/tor.png');
}

@keyframes motion {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}

.motion-animation {
  animation: motion 0.5s infinite alternate;
}

@keyframes falseAnswer {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(-10px);
  }
}
.falseAnswer-animation {
  animation: falseAnswer 0.1s 3 alternate;
}

@keyframes trueAnswer {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}
.trueAnswer-animation {
  animation: trueAnswer 1.1s 1;
}

.text {
  width: 29ch;
  color: white;
  font-family: monospace;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
}

@keyframes cursor {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}
